.section-column .container {
    padding: 2em;
}

.section-column .section-header {
    text-align: center;
}

.section-column .section-content {
    display: flex;
    gap: 2em;
}

.section-column .section-content article {
    flex: 1 1 30%;
    text-align: center;
    padding: 0 4em;
}

.section-features .section-content {
    padding: 0 3em;
}


.section-features {
    background-color: white;
    padding-bottom: 2em;
}

.section-features img {
    width: 15%;
    margin: 0 auto;
}

.section-features h4 {
    color: #D01919;
    margin-top: 1em;
    margin-bottom: 1em;
}


.section-column h3::after { 
    content: "";
    display: block;
    margin: 1em auto;
    width: 5ch;
    height: 2px;
    background-color: #D01919;
    margin-bottom: 2em;
}

.section-coaches {
    background-color: #EFEFEF;
    padding-bottom: 2em;
}

.section-coaches h5 {
    color: #D01919;
}

.section-coaches .media {
    overflow: hidden;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.section-coaches p {
    color: #B6A1A5;
    padding: 1em;
    margin-top: 1em;
}